In [ ]:
l = ["Hello", 2, 15, "World", 34]

number_of_elements = len(l)

print("Number of elements in the list: ", number_of_elements)

Number of elements in the list:  5

In [ ]:
if len(l) == 0:
	print('List is empty')
else:
	print('List not empty')

List not empty

In [ ]:
l = ["Hello", 2, 15, "World", 34]
print(l)
print("The first element of the list : ",l[0])
print("The last element of the list : ",l[-1])

['Hello', 2, 15, 'World', 34]
The first element of the list :  Hello
The last element of the list :  34

In [ ]:
list1 = [11, 5, 17, 18, 23] 
del list1[1:5]
print(list1)

[11]

In [ ]:
list1 = [11, 5, 9,12,15,17, 18, 23,50] 
print (list1[1:7:2])

[5, 12, 17]

In [ ]:
nested_list=[[5,8.9],[6,2,3],[12,15,18]]
for i in nested_list:
  print(i[0],end=" ")

5 6 12

In [ ]:
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
res_list = [*test_list1, *test_list2]
print ("Concatenated list using * operator : " 
                              + str(res_list))

Concatenated list using * operator : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [ ]:
lt1 = [4, 4, 6, 8, 10, 30]  
lt2 = [2, 5, 6, 9, 10, 12]   
print ( "list 1 : " + str (lt1))  
print ( "list 2 : " + str (lt2))    
res_lt = [ lt1[x] + lt2[x] for x in range (len (lt1))]  
print ( "Addition of the list lt1 and lt2 is: "+ str (res_lt))

list 1 : [4, 4, 6, 8, 10, 30]
list 2 : [2, 5, 6, 9, 10, 12]
Addition of the list lt1 and lt2 is: [6, 9, 12, 17, 20, 42]