Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 5: 6}
print('dictionary:',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

dictionary: {1: 2, 3: 4, 4: 3, 2: 1, 5: 6}
Dictionary in ascending order by value :  [(2, 1), (1, 2), (4, 3), (3, 4), (5, 6)]
Dictionary in descending order by value :  {5: 6, 3: 4, 4: 3, 1: 2, 2: 1}

Q.2 Write a Python Program to add a key to a dictionary.

In [ ]:
'''Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}'''

d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 5, 1: 10}
{0: 5, 1: 10, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
d={}
n=int(input("enter size: "))
for i in range(n):
  data = input().split(' ')
  d[data[0]] = data[1]
print(d)

s=input("enter city: ")
print("Temp of {} is {}".format(s,d.get(s)))

enter size: 2
lko 32
delhi 38
{'lko': '32', 'delhi': '38'}
enter city: lko
Temp of lko is 32

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

In [ ]:
'''Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]'''
color_name=["Black", "Red", "Maroon", "Yellow"]
color_code=["#000000", "#FF0000", "#800000", "#FFFF00"]
color_list=[dict(color_name=a,color_code=b) for (a,b) in zip(color_name,color_code)]
print(color_list)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary
John    	14
Smith   	13
Alice   	32
Daneil	  21

1.Using above create a dictionary of Employees and their Salary

2.Write a program that asks user for three type of inputs,
print: if user enter print then it should print all Employees with their Salary in this format,

John ==>14

Smith ==>13

Alice ==>32

 Daneil ==>21


 a.print then it should print all Employees with their Salary in this format,

b.add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it.

c.remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

d.query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
d={}
n=int(input("enter size:"))
for i in range(n):
  data = input().split(' ')
  d[data[0]] = int(data[1])

for i in range(4):
  ask=input("Enter operatons :").lower()
  if ask=='add':
    data =input().split(' ')
    if data[0] in d:
      print("employee exits.")
    else:
      d[data[0]]= data[1]
      print(d)
  elif ask=='remove':
    data=input().split(' ')
    if d[data[0]] in d:
      d.remove(data)
    else:
      print("employee does not exits.")

  elif ask=='query':
    data=input("enter employee name :")
    print("salary of{} is{}".format(data,d.get(data)))

  elif ask=='print':
    print(d)

enter size:4
john 14
smith 13
aliece 13
daneil 21
Enter operatons :add
john
employee exits.
Enter operatons :remove
john
employee does not exits.
Enter operatons :query
enter employee name :john
salary ofjohn is14
Enter operatons :add
daneil
employee exits.

Questions on Sets-

 Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Frozenset is a immutable version of python object whereas an element of set can be modified at any time that's why frozen set is used as dictionary of another set.

In [ ]:
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'name', 'age', 'sex'})

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [ ]:
set1= set(map(int,input().split()))
set2= set(map(int,input().split()))
print(set1.difference(set2))

10 20 30 40 50
40 50 60 70 80
{10, 20, 30}